body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
}

.container {
  width: 400px;
}

#progress .times,
.card-footer,
.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.playing {
  background-color: #0b5eb7;
  color: #fff;
}
