body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  width: 400px;
}

#progress .times,
.card-footer,
.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li.playing {
 background-color: #0b5eb7;
 color: #fff;
}